.logo-container{}
.logo-container h2{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.logo-container .logo-slogan{
    font-size: 14px;
    margin-top: -10px;
}
.home-search-btn{
    top: 0.4rem;
    right: 8px;
    position: absolute !important;
}
